.chat.clearfix
  .side
    .side__chat-user__acttion
      .side__chat-user__acttion-name
        ユーザーネーム
        .side__chat-user__acttion-icon
          %i.fa.fa-pencil-square-o.fa-lg
          %i.fa.fa-cog.fa-lg

    .side__status
      .side__status__group-name
        サイドグループネーム
      .side__status__message
        サイドメッセージテキスト
    .side__status
      .side__status__group-name
        サイドグループネーム2
      .side__status__message
        サイドメッセージテキスト2



  .main
    .main__chat-group.clearfix
      .main__chat-group-name
        group name
      .main__chat-group__edit-button
        EDIT
      .main__chat-group__members
        Members:


    .main__message.clearfix
      .main__message-content

        .main__message-content__box
          .main__message-content__box__user-name
            main user name
          .main__message-content__box__time
            2018/11/12 00:00
          .main__message-content__box__text
            main message text



      .message__send
        .message__send__typefield
          text type field
          .message__send__typefield__icon
            %i.far.fa-image.fa-lg
        .message__send__button
          Send


