$main_width:calc(100vw - 300px);
$back_gray: #AAAAAA;
$main_font_color:#434A54;

a {
 color: white;
 text-decoration: none;
}
#edit-button a {
 color: #38AEF0;
 text-decoration: none;
}


.chat {
  height: 100vh;
  width: 100vw;

  .main {
     height: 100vh;
     width: $main_width;
     float: left;
    &__chat-group {
      height: 96px;
      padding-left: 40px;
      border-bottom: solid;
      border-color: #eeeeee;
      border-width: 1px;
      color: red;
      &-name {
        font-size: 20px;
        color: #333333;
        padding-top: 35px;
        float: left;
      }
      &__edit-button {
        height: 40px;
        line-height: 40px;
        border: solid;
        border-color: #38AEF0;
        float: right;
        margin-top: 28px;
        margin-right: 40px;
        padding: 0 20px;
        color: #38AEF0;
      }
      &__members {
        font-size: 12px;
        color: #999999;
        clear: both;
      }
    }



    &__message {
      width: 100%;
      color: $main_font_color;
      &-content {
        height: calc(100vh - 96px);
        margin-left: 40px;
        overflow: scroll;

        &__box {
          &__user-name {
            font-size: 16px;
            font-weight: bold;
            margin-top: 40px;
            display: inline-table;
          }
          &__time {
            font-size: 12px;
            margin: 40px 0 10px 10px;
            display: inline-table;
          }
          &__text {
            font-size: 14px;
            clear: both;
          }
        }

      }
    }

      .message__send {
        height: 90px;
        width: $main_width;
        position: absolute;
        bottom: 0px;
        background-color: $back_gray;
        &__typefield {
          height: 50px;
          width: calc(100vw - 495px);
          background-color: #FFF;
          font-size:16px;
          line-height: 50px;
          margin: 20px 0;
          margin-left: 40px;
          padding-left: 10px;
          float: left;
          &__icon {
            margin-right: 10px;
            float: right;
          }
        }
        &__button {
          height: 50px;
          line-height: 50px;
          color: #FFFFFF;
          background-color: #38AEF0;
          margin: 20px 40px 20px 15px;
          padding: 0 20px;
          float: right;
        }
      }

  }
}

