/*
 *= require font-awesome
 */

@import "./reset";

$main_width:calc(100vw - 300px);
$side_font_color:#FFFFFF;
$back_gray: #AAAAAA;
$main_font_color:#434A54;

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.chat {
  height: 100vh;
  width: 100vw;
}

// サイドここから
.side {
  height: 100vh;
  width: 300px;
  background-color: #2f3e51;
  float: left;
  color: $side_font_color;
}

.side--chat-user--acttion {
  width: 100%;
  height: 96px;
  background-color: #253141;

}
.side--chat-user--acttion-name {
  font-size: 16px;
  font-weight: bold;
  padding: 35px 0 0 20px;
}
.side--chat-user--acttion-icon {
  margin-right: 20px;
  float: right;
}


.side--status {
  margin: 20px 20px 40px 20px;
}
.side--status--group-name {
  font-size: 15px;
}
.side--status--message{
  font-size: 11px;
  margin-top:5px;
}

// サイドここまで


// メインchatここから
.main {
  height: 100vh;
  width: $main_width;
  float: left;
}

.main--chat-group {
  height: 96px;
  padding-left: 40px;
  border-bottom: solid;
  border-color: #eeeeee;
  border-width: 1px;
}

.main--chat-group-name {
  font-size: 20px;
  color: #333333;
  padding-top: 35px;
  float: left;
}

.main--chat-group--edit-button {
  height: 40px;
  line-height: 40px;
  border: solid;
  border-color: #38AEF0;
  float: right;
  margin-top: 28px;
  margin-right: 40px;
  padding: 0 20px;
  color: #38AEF0;
}

.main--chat-group--members-name {
  font-size: 12px;
  color: #999999;
  clear: both;
}




// メインmessageここから
.main--message-content {
  width: 100%;
  color: $main_font_color;
  // position: relative;
}
.main--message-content--box {
  height: calc(100vh - 96px);
  margin-left: 40px;
  overflow: scroll;
}

.main--message--user-name {
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
  display: inline-table;

}
.main--message--time {
  font-size: 12px;
  margin: 40px 0 10px 10px;
  display: inline-table;
}
.main--message--text {
  font-size: 14px;
  clear: both;
}


.message--send {
  height: 90px;
  width: $main_width;
  position: absolute;
  bottom: 0px;
  background-color: $back_gray;
}

.message--send--typefield {
  height: 50px;
  width: calc(100vw - 495px);
  background-color: #FFF;
  font-size:16px;
  line-height: 50px;
  margin: 20px 0;
  margin-left: 40px;
  padding-left: 10px;
  float: left;
}
.message--send--typefield--icon {
  margin-right: 10px;
  float: right;
}

.message--send--button {
  height: 50px;
  line-height: 50px;
  color: #FFFFFF;
  background-color: #38AEF0;
  margin: 20px 40px 20px 15px;
  padding: 0 20px;
  float: right;
}
